:host{
  --black: #515151;
  --blue: #007BFF;
  --babyblue: #6DC1E8;
  --lightblue: #E1EEFF;
  --gray: #9B9B9B;
}
.slider-container{
  box-sizing: border-box;
  position:fixed;
  background: #F8FBFF;
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  color: var(--black);
  border-radius: 15px 0px 0px 15px;
  height: 100vh;
  width: 450px;
  top: 0;
  right: 0;
  z-index: 9999;
  padding: 2rem 0;
  transition: transform 300ms ease-in-out;
}

.isHidden {
  transform: translateX(450px);
  transition: transform 300ms ease-in-out;
}

.header {
  padding: 0 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', 'sans-serif';
  margin-bottom: 3rem;
}

.icon-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  background-color: #E1EEFF;
  border-radius: 50%;
}

.hero {
  padding: 0 20px;
  font-size: 2rem;
  font-weight: 700;
}

.welcome {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
}

.file-type {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.file-card {
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 48%;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 10px;
}

.file-card p:nth-child(3) {
  color: var(--gray);
  font-weight: 400;
  font-size: small;
}

.example-query {
  padding: 0 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.example-card {
  background-color: var(--lightblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.example p:nth-child(2) {
  color: var(--gray);
  font-weight: 400;
  font-size: small;
}

.input-section {
  margin-top: 100px;
  width: 100%;
  border-top: 1px solid #E2E2E2;
  box-shadow: 0px -42px 67px 0px rgba(122, 122, 122, 0.1);
}

.toolbar {
  padding: 0 20px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
  align-items: center;
  font-size: smaller;
  color: var(--gray);
}

.radio-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--babyblue);
  gap: 0.7rem;
}

.text-input {
  margin: 16px 20px 16px 20px;
  border-radius: 20px;
  padding: 16px 16px;
  background-color: #ffffff;
}

#text-area {
  font-family: 'Inter', 'sans-serif';
  width: 100%;
  height: 110px;
  background-color: inherit;
  resize: none;
  outline: none;
  border: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.copyright {
  color: var(--gray);
  font-size: small;
  font-weight: 400;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.status-card {
  display: flex;
  width: 60px;
  height: 32px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 99px;
  background: rgba(6, 65, 135, 0.70);
  color: #fff;
}

.point {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

.subscription {
  background: var(--Linear-Blue, linear-gradient(290deg, #064187 1.05%, #007BFF 100%));
}

.blue-text{
  color:var(--blue);
}

.switch_stealth_mode {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch_stealth_mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0066d3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}